h1 {
  text-align: center;
}
h4 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 10rem;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
}
html {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL3bTZm5SaFjDF7XyG5ABPhdjykCaZojonlA&usqp=CAU") ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

}